body {
  background-color: #ECE8E1;
}

.map-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.map-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #F6C4B3;
  width: 80vw;
  height: 80vh;
  padding: 10px;
  font-size: 25px;
  position: relative;
  z-index: 1;
  
}